html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
body {
  line-height: 1; 
  font-family: 'Lato Regular', sans-serif;
  background-color: #fefefe;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:focus {
  outline: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none;
 }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

button,
button:active, 
button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    background-color: #fefefe;
}
/*хеддер*/
.header {
    height: 89px;
    width: 100%;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    position: sticky;
    top: 0;
    z-index: 99;
}


.header_content {
    margin: 0 auto;
    padding-top: 24px;
    width: 1020px;
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    font-size: 25px;
    line-height: 6px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 38px;
}

.logo-star {
    color: #f06c64;
}

.navigation {
    display: flex;
    width: 410px;
    font-size: 12px;
    line-height: 6px;
    font-weight: 500;
    color: #ffffff;
    list-style: none;
    text-transform: uppercase;
}

.navigation-elem{
    margin-top: 11px;
    margin-right: 29px;
    cursor: pointer;
    position: relative;
}

.navigation-link{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.navigation-elem a:hover{
    color: #f06c64;
}

.navigation-elem::after {
    content: "";
    background-color: #434759;
    width: 2px;
    height: 2px;
    position: absolute;
    margin-right: 1px;
    top: 49%;
    right: -16px;
}

.navigation-elem:hover {
    color: #f06c64;
}


.navigation-elem:last-child::after { 
   display: none;
}
/*слайдер*/
.slider{
    height: 594px;
    width: 100%;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.slider_content {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

.vertical-mobile {
    position: absolute;
    left: 112px;
    top: 53px;
}
.horizont-mobile {
    position: absolute;
    right: 111px;
    top: 174px;
}

.slider__buttons {
    width: 100%;
    position: absolute;
    top: 281px;
    display: flex;
    justify-content: space-between;
}

.switch-button {
    background-repeat: no-repeat;
    width: 16px;
    height: 27px;
    cursor: pointer;
    border: 0;
    background-color: #f06c64;
    margin: 0 3px;
}

.prev-slide {
    margin-left: 42px;
    background-image: url(./assets/img/singolo1/prev_slide.png);
}

.prev-slide:hover {
    background-image: url(./assets/img/singolo1/prev_slide1.png);
}

.next-slide {
    margin-right: 40px;
    background-image: url(./assets/img/singolo1/next_slide.png);
}

.next-slide:hover {
    background-image: url(./assets/img/singolo1/next_slide1.png);
}

.services {
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services_content {
    width: 1020px;
    margin: 0 auto;
    padding: 34px 0;
}
.services__description h2 {
  margin-left: 40px;
}

.services__description p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.3px;
    word-spacing: 1.0px;
    margin-left: 40px;
    margin-top: -7px;
}

.services__sections {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__elem {
    display: flex;
    flex-basis: 32%;
    margin-top: -11px;
}

.services__elem:nth-child(1) img{
    margin-top: 3px;
}

.services__elem:nth-child(2) img{
    margin-top: 3px;
}

.services__elem:nth-child(4) img{
    margin-top: -1px;
}

.services__elem:nth-child(5) img{
    margin-top: -1px;
}

.services__elem:nth-child(6) img{
    margin-top: -1px;
}

.services__elem:nth-child(3) img{
    margin-top: 3px;
}

.services__elem h3 {
    font-family: "Lato Black", serif;
    font-size: 18px;
    font-weight: 400;
    color: #666d89;
    margin-top: 35px;
    margin-bottom: -16px;
}

.services__elem p {
    color: #767e9e;
    font-size: 12px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 5px;
    text-align: justify;
}

.elem-text {
    margin-left: 18px;
}

.pixel-fix-1{
    letter-spacing: 0.1px;
}

.pixel-fix-2{
    word-spacing: -0.9px;;
    letter-spacing: 0.1px;
}

.pixel-fix-3 {
    word-spacing: -1px;
}

.pixel-fix-4 {
    margin-left: -0.8px;
}

.pixel-fix-5 {
    word-spacing: -1px;
    letter-spacing: -0.2px;
    margin-left: -2px;
}



h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  letter-spacing: 0.1px;
  font-family: 'Lato Black', sans-serif;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.portfolio_content {
  margin: 0 auto;
  width: 1020px;
}

.portfolio__description {
  padding-top: 3px;
}
.portfolio__description h2 {
  margin: 59px 40px 14px 40px;
}
.portfolio__description p {
  margin: 0 40px 1em 40px;
  word-spacing: -2.2px;
}


.portfolio__tags {
  width: 287px;
  margin: -7px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

.tag {
    color: #6E7593;
    background-color: #2D303A;
    border: 1px solid #666D89;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 6px 2px 6px;
    margin-right: 7px;
    font-family: 'Lato Bold', 'Arial', sans-serif;
    font-size: 12px;
    letter-spacing: -0.15px;
    outline: none;
}

.tag:hover {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.tag_selected {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.portfolio__picture-example {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 40px 0 40px;
}

.picture {
  flex-basis: 25%;
  margin-bottom: 17px;
}

.about-us {
  height: 728px;
  background-color: #f2f2f2;
  width: 100%;
  border-bottom: solid 6px #ffffff;
}

.about-us_content {
  margin: 0 auto;
  width: 1020px;
}

.about-us__description h2 {
  word-spacing: -2px;
  letter-spacing: -0.1px;
  margin-left: 40px;
}

.about-us__description p {
  padding-top: 2px;
  letter-spacing: -0.1px;
  word-spacing: -1.7px;
  margin-left: 40px;
}
.about-us__description {
  padding-top: 3px;
  padding-right: 80px;
}

.about-us__members {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  margin-left: 40px;

}

.employee {
  margin-top: 27px;
  flex-basis: 33%;
}

.employee h3{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  margin-top: 13px;
}

.employee p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  word-spacing: -1px;
  margin-top: -7px;
  letter-spacing: 0.1px;
}

.employee:last-child img{
  margin-left: 2px;
}

.employee:last-child h3{
  letter-spacing: 0.5px;
}

.contacts-link {
  width: 153px;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.ico {
  cursor: pointer;
}

.ico:hover{
  opacity: 0.3;
}
.ico:last-child {
  margin-right: -1px;
}

.pixel-fix-7 {
  letter-spacing: 0.1px;
  margin-left: 1.7px;
}



input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; 
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; 
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; 
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }


[hidden] {
  display: none; 
}


a:focus {
  outline: thin dotted; 
}


a:active,
a:hover {
  outline: 0; 
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0; 
}

form {
  margin: 0; 
  width: 65%;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }


legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;

}

button,
input {
  line-height: normal; 
}

button,
select {
  text-transform: none; 
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; 
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; 
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; 
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.container {
  max-width: 1020px;
  margin: 0 auto;
  box-sizing: border-box; }

.contact-form {
  background-color: #f06c64;
  box-shadow: 0 7px 0 0 #ea676b;
  margin-bottom: 6px; }
  .contact-form__container {
      padding: 37px 40px 19px;
  }
  .contact-form__header {
      font-family: 'Lato Black', serif;
    font-size: 30px;
    letter-spacing: -0.2px;
    color: #f0d8d9;
    margin-bottom: 20px; }
  .contact-form__text {
      font-family: 'Lato Light', serif;
    font-size: 18px;
    letter-spacing: -0.21px;
    line-height: 31px;
    text-align: justify;
    color: #f0d8d9;
    margin-bottom: 43px; }

.form-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-form {
  width: 640px; }
  .main-form__input {
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 15px;
    margin-bottom: 16px;
      font-family: 'Lato Regular', serif;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #d6564f; }
    .main-form__input::-webkit-input-placeholder {
      color: #f48c8f; }
    .main-form__input::-moz-placeholder {
      color: #f48c8f; }
    .main-form__input:-moz-placeholder {
      color: #f48c8f; }
    .main-form__input:-ms-input-placeholder {
      color: #f48c8f; }
  .main-form__textarea {
    display: block;
    width: 100%;
    height: 203px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
      font-family: 'Lato Regular', serif;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #d6564f; }
    .main-form__textarea::-webkit-input-placeholder {
      color: #f48c8f; }
    .main-form__textarea::-moz-placeholder {
      color: #f48c8f; }
    .main-form__textarea:-moz-placeholder {
      color: #f48c8f; }
    .main-form__textarea:-ms-input-placeholder {
      color: #f48c8f; }
    .main-form__submit {
        height: 38px;
        padding: 5px 15px;
        font-family: 'Lato Regular', serif;
        font-size: 14px;
        color: #886A30;
        border-color: #f48c8f;
        box-sizing: border-box;
        cursor: pointer;
        background: #FBC65F;
        border-radius: 5px;
        line-height: 17px;
    }
  .contact-inf {
     width: 33%; 
  }
  .contact-inf__header {
    font-family: 'Lato Black';
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    margin-bottom: 11px; }
  .contact-inf__text {
    font-family: 'Lato Light';
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.05px;
    text-align: justify;
    color: #f0d8d9;
    margin-bottom: 21px; }
  .contact-inf__link {
    display: block;
    text-decoration: none;
    font-family: 'Lato Light';
    font-size: 11px;
    line-height: 22px;
    text-align: justify;
    color: #f0d8d9; }
    .contact-inf__link:nth-child(3) {
      letter-spacing: 0.35px; }
      .contact-inf__link:nth-child(3)::before {
        content: url("./assets/img/singolo3/location.png");
        display: inline-block;
        width: 7px;
        height: 11px;
        margin-left: 3px;
        margin-right: 13px; }
    .contact-inf__link:nth-child(4) {
      letter-spacing: 0.4px; }
      .contact-inf__link:nth-child(4)::before {
        content: url("./assets/img/singolo3/phone2.png");
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-left: 3px;
        margin-right: 9px; }
    .contact-inf__link:nth-child(5) {
      letter-spacing: 0.4px; }
      .contact-inf__link:nth-child(5)::before {
        content: url("./assets/img/singolo3/email.png");
        display: inline-block;
        width: 13px;
        height: 8px;
        margin-right: 11px; }

.footer {
  background-color: #2d303a; }

.footer__container {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  height: 76px; }
  .footer__container > a {
    text-decoration: none;
    color: #666d89;
    font-family: 'Lato Light';
    font-size: 11px;
    letter-spacing: 0.35px; }
    .footer__container > a span {
      margin-left: 2px;
      margin-right: 3px; }

.card__links a > img {
  cursor: pointer;
  transition: 0.8s; }

.card__links a > img:hover {
  transform: scale(1.1);
  opacity: 0.5;
  transition: 0.8s; }

.navigation-elem a {
    color: #FFFFFF;
    text-decoration: none;
}
a.navigation_active {
    color: #F06C64 !important;
}

.wrapper {
    max-width: 1020px;
    margin: auto;
}
.banner{
    background-color: #F06C64;
    border-bottom: 7px solid #EA676B;
}



.banner__items{
    display: flex;
    overflow: hidden;
    width: 1020px;
}

.banner__item {
    flex-shrink: 0;
    position: relative;
    left: -100%;
    display: flex;
    width: 1020px;
}

.banner__blackbox1{
    position: absolute;
    margin: 118px auto auto 125px;
    height: 334px;
    width: 189px;
    background-color: #000000;
    display: none;
}

.banner__blackbox2{
    position: absolute;
    margin: 187px auto auto 485px;
    height: 189px;
    width: 333px;
    background-color: #000000;
    display: none;
}

.banner__left-phone{
    padding: 53px 0 0 112px;
}

.banner__right-phone{
    padding: 174px 0 0 73px;
}

.banner__prev-arrow {
    position: absolute;
    left: 3.92%;
    top: 46.82%;
    cursor: pointer;
}

.banner__next-arrow {
  position: absolute;
  cursor: pointer;
  right: 3.63%;
  top: 46.82%;
}
.modal {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal_hidden {
    display: none;
}

.modal__content {
    width: 400px;
    margin: auto;
    padding: 5px 20px 13px;
    border-radius: 10px;
    background: #fff;
}
.banner__block {
  position: relative;
}

.hide-mm {
  display: none;
}

.throw-mm {
  position: absolute !important;
    left: -300% !important;
    transition: 1s !important;
}


.logo {
  display: flex;
  margin: 0% 0 0 4%;
  font-size: 25px;
  letter-spacing: -0.028em;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}

#mini-logo {
  font-size: 19.6875px;
    align-items: flex-start;
    position: absolute;
    left: 71px;
    top: 24px;
}

.logo span {
  color: #f06c64;
}


.mobile-menu {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 20px;
  transition: 0.9s;
}

.draw-line {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 2.4px;
  top: calc(50% - 1.2px);
}

.mobile-menu::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 2.4px;
  bottom: 0;
  left: 0;
}

.mobile-menu::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 2.2px;
  top: 0;
  left: 0;
}

.mobile-menu {
  display: none;
}

.screen-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000a6;
  z-index: 100;
}

.window-mobile-menu {
  display: none;
  position: fixed;
  width: 278px;
  height: 100%;
  left: 0;
  padding: 26px 0% 0% 20px;
  background: #2D303A;
  font-family: "Lato-Regular", "Helvetica", sans-serif;
  color: #d6564f;
  overflow: auto;
  z-index: 100;
  transition: 0.5s;
}

#inside-mobile-menu {
  position: absolute;
    margin-right: 7%;
    left: 22.5px;
    top: 22px;
}

.icon-rotate {
  transform: rotate(270deg);
  transition: 1s;
}

.window-mobile-menu nav {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: absolute;
  width: 205px;
  height: 260px;
  top: 232px;
}

.window-mobile-menu ul {
  list-style-type: none;
}

.window-mobile-menu li {
  margin-bottom: 14%;
  font-family: "Lato-Bold", "Helvetica", sans-serif;
  font-size: 24px;
  letter-spacing: -0.035em;
}

.window-mobile-menu ul a {
  text-decoration: none;
  color: #ffffff;
}


@media screen and (max-width: 1020px) {
  .header_content {
    width: 100%;
  }
  .services_content {
    width: 100%;
  }
  .services__description h2 {
    margin-left: 0;
  }
  .about-us_content {
    width: 100%;
  }
  .about-us_content .about-us__members img{
    width: 98%;
  }
  .about-us {
    height: fit-content;
    padding-bottom: 75px;
  }
  .banner__items, .banner__item, .banner__item img {
    width: 100%;
  }

}
@media (min-width: 768px) and (max-width: 1020px) {
  .services__description {
    margin: 0 44px 0 40px;
  }
  .services__description p{
    margin-left: 0;
  }
  .services__elem {
    flex-basis: 47%;
  }
  .portfolio {
    width: 100%;
  }
  .portfolio .portfolio__image{
    height: 100%;
    width: 100%;
  }
  .portfolio .portfolio_content{
    width: 100%;
  }
  .portfolio .picture{
    flex-basis: 32%;
  }


}
@media screen and (max-width: 767px) {
  .header_content .header__navigation{
    display: none;
  }
  .header_content .logo{
    margin:0 auto;
  }
  .services__description {
    margin: 0 40px 0 41px;
  }
  .services__description p{
    margin-left: 0;
  }
  .services__elem {
    flex-basis: 100%;
  }
  .portfolio {
    width: 100%;
  }
  .portfolio .portfolio__image{
    height: 100%;
    width: 100%;
  }
  .portfolio .portfolio_content{
    width: 100%;
  }
  .portfolio .picture{
    flex-basis: 48%;
  }
  .about-us__members {
    flex-wrap: wrap;
  }
  .about-us__members .employee{
    flex-basis: 100%;
  }
  .form-wrapper{
    display: block;
  }
  .main-form__submit {
    width: 100%;
  }
  form , .contact-inf {
    width: 100%;
  }
  .footer__container .copa {
    display: none;
  }
  .footer__container {
    justify-content: center;
  }
  
  
  .mobile-menu {
    position: absolute;
    left: 5.4%;
    bottom: 35%;
    display: inline-block;
  }

  .window-mobile-menu {
    display: flex;
}
 
}